@page
@model MoviesAndSeriesApplicationWeb.Pages.Shared.AllModel
@{
    ViewData["Title"] = "All";
}

<link rel="stylesheet" href="~/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="photos">
    @for (int i = 0; i < Model.AllCP.Count; i++)
    {
        <div class="movie">
            <div class="container">
                <a class="add" href="#add">+</a>
                <img class="photo" src="@Model.GetImage(Model.AllCP[i].Id)">
            </div>

            <div class="movieDescr">
                <div class="fa fa-star rating"></div>
                <t>Rating</t>
                <div class="fa fa-star checked"></div>
            </div>
            <div class="movieTitle">
                @* <a asp-area="" asp-page="/MovieInfo" asp-route-movieName="@Model.NewestCP[i].Name">@Model.NewestCP[i].Name</a>*@

                @{
                    if (Model.AllCP[i] is Movie)
                    {
                        <a href="/MovieInfo?name=@Model.AllCP[i].Name">@Model.AllCP[i].Name</a>
                    }
                    else if (Model.AllCP[i] is TVShow)
                    {
                        <a href="/TVShowInfo?name=@Model.AllCP[i].Name">@Model.AllCP[i].Name</a>
                    }


                }

            </div>
        </div>
    }

</div>

